doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/bower/jquery/dist/jquery.min.js")
    script(src="/bower/knockout/dist/knockout.js")
  body
    block content
    block js